#container.amount{
    width: 500px;
    height: 400px;
    background-color: brown;
    color: white;
    border: 1px solid black;
    margin-left: 350px;
    border-radius: 8px;
}
button {
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 35px;
    width: 120px;
}
h1{
    text-align: center;
    color: #FFE4C4;
}
#left{
    float: left;
    width: 50px;
    margin-left: 5px;
}
#right{
    float: right;
    width: 50px;
    margin-right: 75px;
}
#submit{
    margin: 300px 0px 0px 190px;
}
.effect{
    color: white;
    text-decoration: none; 
}
#rth{
    float: right;
    margin-right: 5px;
}